.bodyComponents {
  padding: 39px 22% 25px;
  position: relative;
}

.tips {
  padding: 7% 0;
}

.introductionTips{
  width: 66px;
  height: 50px;
} .cd-hero {
  /* vertically align its content */
  height: 0px !important;
}